/*
Theme Name: CEA Creatives
Theme URI: #
Author: Dan Laurice V. Seruela
Author URI: https://www.linkedin.com/in/dseruela/
Description: A WordPress theme designed using Bootstrap Framework for CEA Creatives and Events
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: simplybootstrap
This theme, like WordPress, is licensed under the GPL.
*/

/*
 * Globals test
 */

@font-face {
  font-family: "Avenir";
  src: url("./fonts/AvenirLTStd-Book.otf");
}

@font-face {
  font-family: "bebas";
  src: url("./fonts/Bebas-Regular.ttf"),
       url("./fonts/Bebas-Regular.otf");
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Avenir";
  font-size: 1rem;
  /* font-weight: 100 !important; */
  line-height: 1.5;
  color: #212529;
}

h1, .h1, h2, .h2,
h3, .h3, h4, .h4,
h5, .h5, h6, .h6 {
  font-family: "bebas";
  color: #212529;
}

h1 { font-size: 5vw; width: inherit; }
h2 { font-size: 4.5vw; width: inherit; }
h3 { font-size: 4vw; width: inherit; }
h4 { font-size: 3.5vw; width: inherit; }
h5 { font-size: 3vw; width: inherit; }
h6 { font-size: 2.5vw; width: auto; }

.card-deck {
  padding-left: 4%;
  padding-right: 4%;
  width: 100%;
}

/* default hyperlink */
a { color:rgba(0,0,0,.5) }

a:hover,
a:active {
  color:rgba(0,0,0,.9);
  text-decoration: none;
}
.navbar {
  padding: .8rem 3%;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
  background-color: #d7d7d7 !important;
}
.cclogo {
  width: 30%;
}
.site-description {
  font-size: 14px !important;
  font-weight: 500 !important;
  letter-spacing: -0.5px !important;
  display: initial !important;
  margin: 1rem 0.5rem !important;
}
.navbar .menu-item a {
  padding-left: .5rem;
  padding-right: .5rem;
  font-family: "bebas";
  font-size: 1.3vw;
}
.nav-pills .nav-link.active {
  background-color: #212529;
}
.nav-pills .nav-link{
  color: #212529;
}
#pills-tabContent .col-pad-2,
#rentals-page .col-pad-2 {
  padding: 0.5rem !important;
}
#pills-tabContent .card,
#rentals-page .card {
  margin-left: 0;
  margin-right: 0;
}
.spacer {
  height: 2rem;
}
.whatwedo-icon {
  width: 40%;
}
#about {
  background-image: url('img/strength-people-hands-success-meeting.jpg');
  background-size: cover;
  width: 100%;
  height: 38rem;
}
.aboutLeft {
  width: 50%;
  padding: 3% 3%;
  text-align: center;
  float: left;
}
.aboutH1 {
  position: relative;
  margin: 0 auto 2rem;
  color: #fff;
}
#about p {
  font-size: 1.3vw;
  font-weight: 500;
  color: #fff;
  line-height: 1.5;
}
.services ul {
  padding-left: 0;
}
.services ul li {
  list-style: none;
}
.services i {
  font-size: 5rem;
}
.portfolio,
.portfolio h1,
.portfolio p {
  margin: auto;
}
.portfolio-member {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  width: 12rem;
}
.portfolio-slide .carousel-control-next, 
.portfolio-slide .carousel-control-prev {
  width: 1%;;
}
.portfolio-slide .carousel-control-prev-icon {
  background-image: url('img/icons/left.png') !important;
}
.portfolio-slide .carousel-control-next-icon {
  background-image: url('img/icons/right.png') !important;
}
.w-9 {
  width: 9%;
}
.contactLeft {
  width: 50%;
  padding: 3rem;
  float: left;
}
.contactRight {
  width: 50%;
  padding: 3rem;
  float: right;
}
.contactRight i {
  padding-right: 1rem;
}
footer {
  background-color: #d7d7d7;
  /* background-color: #212529; */
  /* color: #fff; */
  padding: 1.25rem 4%;
}
/* footer a { color: #fff; }
footer a:hover,
footer a:active {
  color: #fff;
  text-decoration: underline;
} */
footer h3.widget-title {
  font-size: 2vw !important;
}
footer ul {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
footer ul li {
  list-style: none;
  font-size: 0.8rem;
  flex-basis: 33%;
  line-height: 1.42;
}
.social-profiles i {
  font-size: 2vw;
  padding-right: 1vw;
}
.copyright {
  font-size: 12px;
}

/* PAGE - WHAT WE DO */
#whatwedo-page,
#rentals-page {
  margin-top: 7rem;
}
#whatwedo-page nav {
  margin-top: 5rem;
}
#whatwedo-page nav {
  margin-bottom: 3rem;
}

/* MEDIA QUERIES */
@media (min-width: 576px) {
  footer.card-deck,
  #whatwedo-page.card-deck,
  #rentals-page.card-deck {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

@media (min-width: 1441px) {
  #about {
    height: 56rem;
  }
  .aboutLeft {
    padding: 2%;
  }
  #whatwedo-services {
    margin-bottom: 6rem;
  }
}

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    #about {
      height: 26rem;
    }
    #about .aboutLeft {
      width: 100%;
    }
    #about .aboutLeft p {
      font-size: 1.1rem;
    }
    .cclogo {
      width: 70%;
    }
    .site-description {
      font-size: 15px !important;
      display: block !important;
      margin: 0 !important;
    }
    #navbar-main .menu-item a {
      font-size: 2vw;
    }
    .carousel {
      margin-top: 4rem;
    }
}
/* Portrait Only */
@media only screen and (min-device-width: 430px) and (max-device-width: 768px) {
    #navbar-main #menu-main-menu li {
      margin: 0.5rem 0;
    }
    #navbar-main .menu-item a {
      font-size: 4vw;
    }
}

/* Mobile - L = 425px */ 
@media (max-width: 425px) and (min-width: 320px) {
  body {
    font-size: 1.2rem;
  }
  #navbar-main .navbar-brand {
    max-width: 58%;
  }
  #navbar-main #menu-main-menu li {
    margin: 0.5rem 0;
  }
  #navbar-main .menu-item a {
    font-size: 6vw;
  }
  #carouselHeaderControls {
    margin-top: 4rem;
  }
  .cclogo {
    width: auto !important;
  }
  .site-description {
    font-size: 10px !important;
    display: block !important;
    margin: 0 !important;
  }
  #whatwedo h1,
  #about .aboutLeft h1,
  #portfolio h1,
  #awards h1,
  #contact h1,
  #whatwedo-page h1,
  #rentals-page h1 {
    font-size: 13vw;
  }
  #whatwedo-services h6,
  #accreditation h6,
  #whatwedo-page h6,
  #rentals-page h6 {
    font-size: 6.5vw;
  }
  #whatwedo-services .services div {
    padding-bottom: 20px;
  }
  #about .aboutLeft p {
    font-size: 1.05rem;
  }
  #about .aboutLeft {
    width: 100%;
    padding: 5% 6%;
  }
  #carouselPortfolioControls {
    margin-bottom: 2rem;
    height: 13rem;
  }
  #carouselPortfolioControls .mb-5 {
    margin-bottom: 1rem !important;
  }
  #carouselPortfolioControls .mt-5 {
    margin-top: 1rem !important;
  }
  #carouselPortfolioControls .ml-3 {
    margin-left: 0.3rem !important;
  }
  #carouselPortfolioControls .mr-3 {
    margin-right: 0.3rem !important;
  }
  #carouselPortfolioControls .w-9 {
    width: 20% !important;
  }
  #contact .contactLeft,
  #contact .contactRight {
    width: 100%;
    float: none;
    padding: 1rem;
  }
  #contact .contactRight {
    font-size: 0.8rem;
    line-height: 1.2;
  }
  footer {
    text-align: center;
  }
  footer .my-3 {
    margin-bottom: 2rem !important;
  }
  footer h3.widget-title,
  #contact h6 {
    font-size: 5vw !important;
  }
  .social-profiles i {
    font-size: 6vw;
  }
}

/* Mobile - M = 375px
@media (max-width: 375px) {
  #navbar-main .menu-item a {
    font-size: 7vw;
  }
} */